<template>
  <ul class="furniture-list">
    <!-- <h1>{{ msg }}</h1> -->
    <li v-for="furnitureItem in furnitureItems" :key="furnitureItem.id" class="furniture-list__item">
      <!-- <FurnitureItem msg="Immo" /> -->
      <FurnitureItem v-bind:furnitureItem="furnitureItem" @delete-item="handleDeleteItem" @edit-item="handleEditItem" />
    </li>
  </ul>
</template>

<script>
import FurnitureItem from './FurnitureItem.vue'

export default {
  name: 'FurnitureList',
  props: {
    // msg: String
    furnitureItems: Array,
    // furnitureItem: Object,
    // deleteItem: Function,
  },
  components: {
    FurnitureItem
  },
  methods: {
    handleDeleteItem(id) {
        this.$emit('delete-item', id);
    },
    handleEditItem(id, nameNew) {
        this.$emit('edit-item', id, nameNew);
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.furniture-list{
  padding: 0;
}
.furniture-list__item{
  list-style: none;
}
.furniture-list__item:not(:last-child){
  margin: 0 0 20px 0;
}

</style>
