<template>
  <div class="furniture-form">
      <input v-model="message" v-on:keyup.enter="addItem(message);$event.target.blur()" type="text" class="furniture-form__input" />
      <button class="furniture-form__submit-btn" v-on:click="addItem(message)">Add</button>
  </div>
</template>

<script>

export default {
  name: 'FurnitureForm',
  props: {
    // msg: String
  },
  data() {
    return {
      // items: []
      message: '',
    }
  },
  methods: {
    addItem(name) {
        name = name.trim();
        if(name){
            event.preventDefault();
            this.$emit('add-item', name);
        }
        this.message = "";
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.furniture-form{
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 25px 25px 25px 25px;
    /* background-color: #42b983; */
    background-color: #997ABF;
}
.furniture-form__input{
    border: none;
    margin: 0 25px 0 0;
    border-radius: 3px;
    padding: 5px 0 5px 15px;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 22px;
}
.furniture-form__submit-btn{
    display: inline-block;
    border-radius: 99px;
    border: 2px solid #ffffff;
    padding: 12px 18px 12px 18px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    cursor: pointer;
}
.furniture-form__submit-btn:hover{
    border-color: #c4c4c4;
}

</style>