<template>
  <div class="furniture-item">
    <!-- <h1>{{ msg }}</h1> -->
    <div class="furniture-item__info">
        <span class="furniture-item__number">{{ furnitureItem.id }}</span>
        <!-- <span class="furniture-item__name">{{ furnitureItem.name }}</span> -->
        <input type="text" v-model="furnitureItem.name" v-on:keyup.enter="editItem(furnitureItem.id, furnitureItem.name);$event.target.blur()" class="furniture-item__name" />
    </div>
    <ul class="furniture-item__actions">
      <li class="furniture-item__action">
        <button class="furniture-item__btn furniture-item__btn_edit" v-on:click="editItem(furnitureItem.id, furnitureItem.name)">Edit</button>
      </li>
      <li class="furniture-item__action">
        <button class="furniture-item__btn furniture-item__btn_delete" v-on:click="deleteItem(furnitureItem.id)">Delete</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'FurnitureItem',
  props: {
    // msg: String
    furnitureItem: Object,
    // deleteItem: Function,
  },
  mounted() {},

  methods: {
    editItem(id, nameNew) {
        this.$emit('edit-item', id, nameNew);
    },
    deleteItem(id) {
        this.$emit('delete-item', id);
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.furniture-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  padding: 15px 25px 15px 25px;
  /* background-color: #42b983; */
  background-color: #997ABF;
}
.furniture-item__info{
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.furniture-item__number{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px 0 0;
  border: 2px solid #ffffff;
  border-radius: 99px;
  padding: 15px 15px 15px 15px;
  min-width: 22px;
}
/* .furniture-item__name{} */
.furniture-item__name{
  padding: 10px 10px 10px 10px;
  width: 100%;
}
.furniture-item__name:focus{
  background-color: #fff;
  color: #333333;
}
.furniture-item__actions{
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.furniture-item__action{}
.furniture-item__action:not(:last-child){
  margin: 0 20px 0 0;
}
.furniture-item__btn{
  display: inline-block;
  border-radius: 99px;
  border: 2px solid #ffffff;
  padding: 12px 18px 12px 18px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  cursor: pointer;
}
.furniture-item__btn:hover{
  border-color: #c4c4c4;
}
.furniture-item__btn.furniture-item__btn_edit{}
.furniture-item__btn.furniture-item__btn_delete{}

</style>