<template>
  <div id="app">
    <section class="furniture">
      <div class="furniture__bg"></div>
      <div class="container">
        <div class="furniture__inner">
          <!-- <a href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-babel" target="_blank" rel="noopener">babel</a> -->
          <h2 class="furniture__head">Furniture</h2>
          <div class="furniture__list">
            <!-- <FurnitureList msg="Immo" /> -->
            <FurnitureList v-bind:furnitureItems="furnitureItemsFromBack" @delete-item="handleDeleteItem" @edit-item="handleEditItem" />
          </div>
          <div class="furniture__form">
            <!-- <FurnitureForm msg="Immo" /> -->
            <FurnitureForm @add-item="handleAddItem" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import FurnitureList from './components/FurnitureList.vue'
import FurnitureForm from './components/FurnitureForm.vue'

const uri = 'http://localhost:5000/api/furnitureitems';

async function getItems() {
  const responseRes = await fetch(uri, {
    method: 'GET'
  });

  const responseObj = await responseRes.json();
  return responseObj;
}

async function AddItem(name) {

  const item = {
    name: name
  };

  await fetch(uri, {
    method: 'POST',
    mode: 'cors',
    referrerPolicy: 'no-referrer',
    headers: {
      'Content-Type': 'application/json; charset=utf-8',
      'Accept': 'application/json'
    },
    body: JSON.stringify(item)
  })
}



export default {
  mounted() {
    getItems().then(res => this.furnitureItemsFromBack = res);
  },

  data() {
    return {
      furnitureItemsFromBack: []
    }
  },

  props: {
  },

  methods: {
    handleDeleteItem(id){
      fetch(`${uri}/${id}`, {
        method: 'DELETE'
      })
      .then(() => getItems().then(res => this.furnitureItemsFromBack = res))
      .catch(error => console.error('Unable to delete item.', error));
    },
    handleAddItem(name){
      AddItem(name)
      .then(() => getItems().then(res => this.furnitureItemsFromBack = res))
      .catch(error => console.error('Unable to delete item.', error));
    },
    handleEditItem(id, nameNew){

      const item = {
        id,
        name: nameNew
      };

      fetch(`${uri}/${id}`, {
        method: 'PUT',
        mode: 'cors',
        referrerPolicy: 'no-referrer',
        headers: {
          'Content-Type': 'application/json; charset=utf-8',
          'Accept': 'application/json'
        },
        body: JSON.stringify(item)
      })
      .then(() => getItems().then(res => this.furnitureItemsFromBack = res))
      .catch(error => console.error('Unable to delete item.', error));

    }
  },
  name: 'App',
  components: {
    FurnitureList,
    FurnitureForm
  }
}






</script>

<style>

/* BASE */
li{
  list-style: none;
}
input[type="text"]{
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
.container{
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 30px 0 30px;
}
/* BASE END */

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.furniture{
  position: relative;
}
.furniture__bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.furniture__inner{
  position: relative;
  padding: 100px 0 100px 0;
}
.furniture__head{
  margin: 0;
}
.furniture__list{
  padding: 50px 0 0 0;
}
.furniture__form{
  padding: 50px 0 0 0;
}

</style>
